body {
  margin: 0%;
  padding: 0%;
  background-image: linear-gradient(180deg, rgba(3, 7, 25, 0.57), transparent),
    linear-gradient(135deg, #02ccba, #a951ed);
  height: 97.5vh;
}
a {
  text-decoration: none;
  color: #333;
}
h1 {
  text-align: center;
  font-size: 34px;
}
h4 {
  margin-top: 4rem;
  text-align: center;
}
section {
  margin: auto;
  width: 1000px;
}

p {
  text-align: center;
}

.cat-name-container {
  color: aqua;
  float: left;
  text-align: left;
  margin: 0.2rem 2rem 16rem 3rem;
}

.cat-image {
  text-align: center;
}

li {
  list-style: lower-roman;
  justify-content: space-between;
  margin: 20px;
  font-size: 40px;
  cursor: pointer;
}

img {
  width: 400px;
  border-radius: 20px;
  margin-top: 2rem;
  margin-right: 2rem;
}

/* Github, fork */
.github {
  margin: 0%;
  background: linear-gradient(to right, #02ccba 0%, #aa7ecd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 0.5rem;
}

.fork {
  background-color: #eee;
  padding: 2px 5px 2px 5px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 2rem;
}
.center {
  margin-left: 42%;
}

.fa-github {
  color: rgba(0, 0, 0, 0.89);
  width: 15px;
  height: 14px;
}
